<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.triniwiz.fancygeo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name=".FancyGeofenceTransitionsIntentService"
            android:exported="false" />
        <service
            android:name="com.github.triniwiz.fancygeo.FancyGeoActionReceiver"
            android:exported="false" />

        <receiver
            android:name="com.github.triniwiz.fancygeo.FancyGeoBootReceiver"
            android:exported="false" />
    </application>
</manifest>
